header {
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
}

nav {
    margin-left: 16px;
    margin-right: 16px;
}

.header-action {
    margin-left: auto;
}